.gs-symbolizer-preview .map {
  height: 100px !important;
  width: 100px !important;
}

.copy-button {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  height: 99%;
}

#copy-textarea {
  position: absolute;
  left: -9999px;
}

.gs-namefield-input {
  width: 100px;
}

.featureselector {
  padding-top: 10px;
  padding-right: 10px;
  overflow-y: auto;
}
